@page "/chats"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using SiteZnakomstv.Data
@using Microsoft.EntityFrameworkCore
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject ApplicationDbContext _context
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>Мои чаты</h3>

@if (userChats == null)
{
    <p>Загрузка...</p>
}
else
{
    <ul class="list-group">
        @foreach (var chat in userChats)
        {
            var otherUser = chat.User1Id == CurrentUserId ? chat.User2 : chat.User1;
            <li class="list-group-item d-flex justify-content-between align-items-center"
                @onclick="@(() => NavigationManager.NavigateTo($"/chat/{chat.Id}"))">
                <span>@otherUser.Name @otherUser.Surname</span>
                <small>@chat.Messages.OrderByDescending(m => m.SentAt).FirstOrDefault()?.SentAt.ToShortTimeString()</small>
            </li>
        }
    </ul>
}


@code {
    private string CurrentUserId = "";
    private List<Chatik> userChats = new();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        CurrentUserId = UserManager.GetUserId(user);

        userChats = await _context.Chats
            .Include(c => c.User1)
            .Include(c => c.User2)
            .Include(c => c.Messages)
            .Where(c => c.User1Id == CurrentUserId || c.User2Id == CurrentUserId)
            .ToListAsync();
    }
}
